server {
	listen 81;
	server_name kohana-base.dev;

	# <sites-dir> = /home/tdrol/www/sites
	# <site> = kohana-base

	root /home/tdrol/www/sites/kohana-base;
	index index.php;

	error_log /home/tdrol/www/sites/kohana-base/application/logs/nginx.error.log;
	access_log /home/tdrol/www/sites/kohana-base/application/logs/nginx.access.log;

	location ~ ^/(application|modules|system|\.(ht|git|svn)) {
		deny all;
	}

	location = /favicon.ico {
		try_files /assets/img/favicon.ico =204;
	}

	location ~* ^.+\.(css|js|jpg|jpeg|gif|png|ico|gz|svg|svgz|ttf|otf|woff|eot|mp4|ogg|ogv|webm)$ {
		expires max;
		access_log off;

		try_files $uri @kohana;
	}

	location / {
		try_files $uri @kohana;
		autoindex on; # just for development
	}

	location @kohana {
		rewrite ^(.*)$ /index.php?uri=$1  last;
	}

	location ~ \.php$ {
		include			fastcgi_params;

		fastcgi_pass	unix:/tmp/php.socket;
		fastcgi_index	index.php;

		fastcgi_param	SCRIPT_FILENAME	$document_root$fastcgi_script_name;
	}
}
