<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>{{head.title}}{{^head.title}}Admin{{/head.title}}</title>
	<meta name="viewport" content="width=device-width">

	<meta name="robots" content="noindex">

	{{#assets.head.css}}
	<link rel="stylesheet" href="{{.}}">
	{{/assets.head.css}}

	{{#assets.head.js}}
	<script src="{{.}}"></script>
	{{/assets.head.js}}
</head>

<body>
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				{{#render_header}}
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				{{/render_header}}
				<a class="brand" href="{{url.base}}">{tdroL}</a>

				{{#render_header}}
				<nav class="nav-collapse">
					<ul class="nav">
					{{#nav}}
						<li id="nav-{{id}}" {{#is_current}} class="active"{{/is_current}}><a href="{{url}}">{{name}}</a></li>
					{{/nav}}
					</ul>

					<p class="logout">
						<a href="{{url.logout}}" class="btn btn-danger">Logout</a>
					</p>
				</nav>
				{{/render_header}}
			</div>
		</div>
	</header>

<!--
	<header class="navbar navbar-inner navbar-fixed-top">
		<div class="container-fluid">
			<a class="brand" href="{{url.base}}">{tdroL}</a>

			{{#render_header}}
			<nav class="nav-collapse">
				<ul class="nav">
				{{#nav}}
					<li{{#is_current}} class="active"{{/is_current}}><a href="{{url}}">{{name}}</a></li>
				{{/nav}}
				</ul>

				<p class="nav-collapse logout">
					<a href="{{url.logout}}" class="btn btn-danger">Logout</a>
				</p>
			</nav>
			{{/render_header}}
		</div>
	</header>
-->

	<div role="main">
		<div class="container-fluid">
			{{>content}}
		</div>
	</div>

	{{#env.development}}{{&profiler}}{{/env.development}}

	<script src="{{assets.id.jquery-cdn}}"></script>
	<script>window.jQuery || document.write('<script src="{{assets.id.jquery}}"><\/script>')</script>

	{{#assets.body.js}}
	<script defer src="{{.}}"></script>
	{{/assets.body.js}}
	<script>window.pingUrl = '{{url.ping-url}}';</script>
</body>
</html>
