<h2>Login</h2>

{{#flash}}
<div class="alert alert-{{type}}">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	{{message}}
</div>
{{/flash}}

<form id="form-admin-login" action="{{url.current}}" method="post">
	<input type="hidden" name="csfr" value="{{security.token}}" />

	{{#error.auth}}
	<div class="alert alert-error fade in">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		{{error.auth}}
	</div>
	{{/error.auth}}

	<div class="clearfix{{#error.auth-login}} error{{/error.auth-login}}">
		<label for="auth-login">Login</label>
		<div class="input">
			<input type="text" name="auth-login" id="auth-login" value="{{post.auth-login}}" required />
			{{#error.auth-login}}
			<span class="help-inline">{{error.auth-login}}</span>
			{{/error.auth-login}}
		</div>
	</div>

	<div class="clearfix{{#error.auth-pass}} error{{/error.auth-pass}}">
		<label for="auth-pass">Password</label>
		<div class="input">
			<input type="password" name="auth-pass" id="auth-pass" required />
			{{#error.auth-pass}}
			<span class="help-inline">{{error.auth-pass}}</span>
			{{/error.auth-pass}}
		</div>
	</div>

	<div class="actions">
		<input class="btn primary" type="submit" value="Login" />
	</div>
</form>
