<h2>Quotes <small>index</small></h2>

{{#flash}}
<div class="alert alert-{{type}}">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	{{message}}
</div>
{{/flash}}

<p>
	<a href="{{url.create}}" class="btn btn-primary btn-create">Add new quote</a>
</p>

<table id="quote-index" class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Body</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{{#quotes}}
		<tr>
			<td>{{id}}</td>
			<td title="{{body}}">{{body}}</td>
			<td>
				<a href="{{urls.update}}" class="btn btn-update" data-label="Update"><span>Update</span></a>
				<a href="{{urls.destroy}}" class="btn btn-delete" data-label="Delete"><span>Delete</span></a>
			</td>
		</tr>
		{{/quotes}}
	</tbody>
</table>
