@import 'compass';

$icons-fff: "../img/icons/ui-icons_ffffff_256x240.png";
$icons-222: "../img/icons/ui-icons_222222_256x240.png";

body {
  background: #eee;
  overflow-y: scroll;
  @media only screen and (min-width: 60em) {
    padding: 40px 0;
  }
}

.container-fluid {
  max-width: 820px;
  padding: 0 20px;
  margin: 0 auto;
}

div[role=main] > .container-fluid {
  margin-bottom: 20px;
}

.navbar .logout {
  float: right;
}

body > div[role=main] {

  .container-fluid {
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
    @include border-radius(0 0 6px 6px);
    background: #fff;
    padding-bottom: 20px;
  }

  h2 {
    font-size: 1.875em;
    background-color: #F5F5F5;
    margin: 0 -20px 20px;
    padding: 20px 20px 10px;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
}

/* #Fixing bootstrap */

input.btn {
  vertical-align: top;
  height: 28px;
}

button.btn {
  vertical-align: top;
}

.input-xlarge,
.input-xxlarge {
  width: 100%;
  display: block;
  @include box-sizing(border-box);
}

input {
  height: 18px + 4px*2;
}

.input-xlarge {
  max-width: 270px;
}

.input-xxlarge {
  max-width: 530px;
}

input:invalid,
select:invalid,
textarea:invalid {
  border-color: #b94a48;
  color: #b94a48;
}

/* /Fixing bootstrap */

.btn-create:before {
  display: inline-block;
  content: "";
  height: 14px;
  width: 14px;
  margin: 0 8px 0 -8px;
  background: url($icons-fff) -32px -128px no-repeat;
}

.btn-update, .btn-delete {
  position: relative;
  width: 16px;
  line-height: 16px;
  padding: 4px;
  margin: 4px;

  &[data-label]:after {
    display: none;
    @include opacity(0.0);
    @include transition(0.1s linear opacity);

    position: absolute;
    top: -27px;
    left: 8px;
    margin-left: -100%;
    line-height: 1.5;
    font-size: 0.9em;
    padding: 3px 8px;
    content: attr(data-label);
    @include border-radius(4px);
    background: #000;
    color: #fff;

    &:hover {
      display: none;
    }
  }

  &[data-label]:hover:after {
    display: inline-block;
    @include opacity(0.8);
    @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05));
  }

  span {
    display: block;
    height: 16px;
    width: 16px;
    text-indent: 99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background: url($icons-222);
  }
}


.alert-message {
  p {
    margin: 0;
  }
  .close {
    cursor: pointer;
  }
}


.btn-update span {
  background-position: -64px -112px;
}

.btn-delete span {
  background-position: -176px -96px;
}

tr {
  @include transition(0.5s background);
  &[id]:target, &.target {
    background: #f5f5f5;
  }

  th:last-of-type,
  td:last-of-type {
    text-align: center;
    word-spacing: -0.2em;
  }

  @media only screen and (min-width: 60em) {
    /* "#" field */
    th:first-of-type,
    td:first-of-type {
      width: 3em;
      text-overflow: ellipsis;
    }

    /* "Actions" field */
    th:last-of-type,
    td:last-of-type {
      width: 2*34px+4px;
    }
  }
}

ul.sortable {
  list-style: none;
  margin: 0;
  padding: 0;
  $width: 270px;
  max-width: $width;

  li {
    $indent: 20px;

    display: block;
    border: 1px solid lighten(#000, 70%);
    padding: 4px 4px 4px 4px + $indent;
    margin: 3px 0;
    max-width: $width - $indent;
    height: 18px;
    @include border-radius(4px);
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #404040;

    &.movable {
      cursor: move;
      padding: 4px;
      max-width: $width;
      color: #fff;
      background: #F39814;
      border-color: #F39814;

      &:before {
        display: block;
        float: left;
        width: 16px;
        height: 16px;
        margin: 1px ($indent - 16px) / 2;
        content: "";
        background: url($icons-fff) -128px -48px;
      }
    }
  }
}

.form-horizontal .control-group > span.control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
  font-weight: bold;

  + .controls {
    padding-top: 5px;
  }
}


.kohana {
  display: none;

  @media only screen and (min-width: 60em) {
    display: block;
  }
}
