@import 'h5bp-head';
@import 'compass';
@import 'bootstrap';

$icons-fff: "../img/icons/ui-icons_ffffff_256x240.png";
$icons-222: "../img/icons/ui-icons_222222_256x240.png";

html, body {
  background: #eee;
}

body {
  padding-top: 40px;
}

a, a:visited {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}

a:hover {
  color: #00438a;
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  width: 820px;
  padding: 0 20px;
  @include pie-clearfix;
}

div[role=main] .container {
  margin-bottom: 20px;
}

body > header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 40px;
  color: #fff;
  @include background(linear-gradient(#333333, #222222));

  $line-height: 38px;

  h1, p, li, a {
    margin: 0;
    line-height: $line-height;
  }

  h1 {
    font-size: 20px;
    font-weight: normal;
    float: left;
    margin-left: -20px;

    a {
      display: block;
      padding: 0 20px;

      &:hover, &:focus {
        background-color: rgba(255, 255, 255, 0.05);
        color: #fff;
      }
    }
  }

  a, a:visited, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }

  li {
    float: left;
    font-size: 0.9em;

    a, a:visited {
      display: block;
      padding: 0 10px;
      color: #bfbfbf;
    }

    &.active {
      background-color: #000;
    }

    &.active a, &:hover a {
      color: #fff;
    }
  }

  .logout {
    float: right;
    line-height: 29px;
    height: 29px;
    padding: 3px 0 0;

    a {
      line-height: 1;
    }
  }
}

body > div[role=main] {

  .container {
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
    @include border-radius(0 0 6px 6px);
    background: #fff;
    padding-bottom: 20px;
  }

  h2 {
    font-size: 1.875em;
    background-color: #F5F5F5;
    margin: 0 -20px 20px;
    padding: 20px 20px 10px;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
}

table th:last-of-type,
table td:last-of-type {
  text-align: center;
}

.link-create:before {
  display: inline-block;
  content: "";
  height: 14px;
  width: 14px;
  margin: 0 8px 0 -8px;
  background: url($icons-fff) -32px -128px no-repeat;
}

.link-update, .link-delete {
  position: relative;
  width: 16px;
  line-height: 16px;
  padding: 4px;
  margin: 0 4px;

  &[data-label]:after {
    display: none;
    @include opacity(0.0);
    @include transition(0.1s linear opacity);

    position: absolute;
    top: -27px;
    left: 8px;
    margin-left: -100%;
    line-height: 1.5;
    font-size: 0.9em;
    padding: 3px 8px;
    content: attr(data-label);
    @include border-radius(4px);
    background: #000;
    color: #fff;

    &:hover {
      display: none;
    }
  }

  &[data-label]:hover:after {
    display: inline-block;
    @include opacity(0.8);
    @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05));
  }

  span {
    display: block;
    height: 16px;
    width: 16px;
    text-indent: 99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background: url($icons-222);
  }
}


.alert-message {
  p {
    margin: 0;
  }
  .close {
    cursor: pointer;
  }
}


.link-update span {
  background-position: -64px -112px;
}

.link-delete span {
  background-position: -176px -96px;
}

tr {
  @include transition(0.5s background);
  &[id]:target, &.target {
    background: #f5f5f5;
  }
}

ul.sortable {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    $indent: 20px;

    display: block;
    border: 1px solid lighten(#000, 70%);
    padding: 4px 4px 4px 4px + $indent;
    margin: 3px 0;
    width: 270px - $indent;
    height: 18px;
    @include border-radius(4px);
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #404040;

    &.movable {
      cursor: move;
      padding: 4px;
      width: 270px;
      color: #fff;
      background: #F39814;
      border-color: #F39814;

      &:before {
        display: block;
        float: left;
        width: 16px;
        height: 16px;
        margin: 1px ($indent - 16px) / 2;
        content: "";
        background: url($icons-fff) -128px -48px;
      }
    }
  }
}

@import 'h5bp-tail';
