@import "h5bp-head";
@import "compass";
@import "compass/layout/grid-background";

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

body > div[role=main] {
  margin: 0 auto;
  max-width: 940px;
  @include column-grid-background(12, 60px, 20px, 10px, #dee, #fff, true);
  @include pie-clearfix;
}

#left, #right {
  float: left;
  width: 50%;
}

#left h1,
#left p,
#right h1,
#right p {
  margin: 10px;
}

@import "h5bp-tail";
