<h2>Links <small>index</small></h2>

{{#flash}}
<div class="alert alert-{{type}}">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	{{message}}
</div>
{{/flash}}

<p>
	<a href="{{url.create}}" class="btn btn-primary btn-create">Add new link</a>
</p>

<table id="links-index" class="table">
	<thead>
		<tr>
			<th class="column-optional">#</th>
			<th>Name</th>
			<th>Title</th>
			<th class="column-optional">Parent</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{{#links}}
		<tr id="link-{{id}}">
			<td class="column-optional">{{id}}</td>
			<td><a href="{{target}}">{{name}}</a></td>
			<td title="{{title}}">{{title-short}}</td>
			<td class="column-optional">
				{{#parent}}<a href="#link-{{id}}" title="{{name}} - {{title}}">#{{id}}</a>{{/parent}}
				{{^parent}}--{{/parent}}
			</td>
			<td>
				<a href="{{url.update}}" class="btn btn-action" data-label="Update"><span class="icon-edit">Update</span></a>
				<a href="{{url.destroy}}" class="btn btn-action" data-label="Delete"><span class="icon-remove">Delete</span></a>
			</td>
		</tr>
		{{/links}}
	</tbody>
</table>
